[submodule "reference/FAST_LIO"]
	path = reference/FAST_LIO
	url = https://github.com/hku-mars/FAST_LIO.git
[submodule "reference/livox_ros_driver"]
	path = reference/livox_ros_driver
	url = https://github.com/Livox-SDK/livox_ros_driver.git
